CONFIG_IDF_TARGET="esp32"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_BT_HFP_AUDIO_DATA_PATH_HCI=y
CONFIG_EXAMPLE_ENABLE_CONSOLE_REPL=n
CONFIG_EXAMPLE_LOCAL_DEVICE_NAME="ESP_HFP_AG_RECONNECT"
