CONFIG_BRIDGE_PHONE=y
# CONFIG_BRIDGE_CAR is not set
# CONFIG_BRIDGE_SINGLE is not set
CONFIG_BRIDGE_CALL_RELAY=y
CONFIG_BT_HFP_WBS_ENABLE=y
# CONFIG_BT_HFP_USE_EXTERNAL_CODEC is not set
CONFIG_FREERTOS_HZ=1000
CONFIG_BT_HFP_CLIENT_ENABLE=y
# CONFIG_BT_HFP_AG_ENABLE is not set
